[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "SSD-Tensorflow"]
	path = SSD-Tensorflow
	url = https://github.com/balancap/SSD-Tensorflow
[submodule "SDC-Vehicle-Detection"]
	path = SDC-Vehicle-Detection
	url = https://github.com/balancap/SDC-Vehicle-Detection
